---
const PROJECTS = [
  {
    title: "Proyecto 1",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, perspiciatis.",
    link: "#",
    gitHub: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["HTML", "CSS", "JavaScript"],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link, gitHub }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>

      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img src={image} alt={`Imagen del proyecto ${title}`} />
    </article>
  ))
}
